body {
    background-color: beige;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#hdr {
    max-height: 200px;
    padding-top: 2em;
    padding-bottom: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.dest {
    background: #02343F;
}

h2, h3, p {
    margin: 0;
}

img {
    width: 100%;
}

.dest {
    width: 40%;
    display: inline-block;
}

.btn {
    text-decoration: none;
    color: black;
    padding: 1em 2em;
    border: #02343F solid;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn:hover {
    background: #02343F;
    color: white;
}

.hdr-bg {
    background: url("../images/header.jpg");
    background-position: center;
    background-repeat: repeat-x;
    width: 100%;
    min-height: 100px;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    margin: 0;
}

h2, h3 {
    padding-bottom: 1em;
    padding-bottom: 0.5em;
}

.contact {
    background-color: #094f5f;
    min-height: 100px;
}

.prices {
    background-color: #1b788d;
    min-height: 100px;
}

footer {
    min-height: 50px;
    background: black;
    color: #30a6c0;
    line-height: 50px;
}

section {
    padding-bottom: 1.5em;
}