body {
    background-color: beige;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#hdr {
    max-height: 200px;
}

.dest {
    background: #02343F;
}