body {
    background-color: beige;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#hdr {
    max-height: 200px;
    padding-top: 2em;
    padding-bottom: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.dest {
    background: #02343F;
}

h2, h3, p {
    margin: 0;
}